In [1]:
import pandas as pd

In [149]:
num = pd.read_csv('data/2022q2/num.txt', delimiter='	')
with pd.option_context('display.max_rows',None):
    display(pd.DataFrame(num['tag'].value_counts(dropna=False).head(10)))
display(num)

                                                      tag
StockholdersEquity                                  27473
CashCashEquivalentsRestrictedCashAndRestrictedC...  21634
NetIncomeLoss                                       19894
Assets                                              18090
NetCashProvidedByUsedInOperatingActivities          17181
LiabilitiesAndStockholdersEquity                    16853
CashAndCashEquivalentsAtCarryingValue               16677
NetCashProvidedByUsedInFinancingActivities          16503
OperatingIncomeLoss                                 16204
RetainedEarningsAccumulatedDeficit                  16146

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
0,0000064996-22-000015,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,-196917000.0,NaN
1,0000064996-22-000015,NetIncomeLoss,us-gaap/2020,NaN,20210331,1,USD,106995000.0,NaN
2,0000030625-22-000054,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,-15820000.0,NaN
3,0000030625-22-000054,NetIncomeLoss,us-gaap/2020,NaN,20210331,1,USD,14080000.0,NaN
4,0000009984-22-000075,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,20484000.0,NaN
...,...,...,...,...,...,...,...,...,...
2705505,0001493152-22-018138,ProceedsFromIssuanceOfCommonStock2,0001493152-22-018138,NaN,20220331,1,USD,890430.0,NaN
2705506,0001493152-22-018138,PurchasesOfConstructionInProcess,0001493152-22-018138,NaN,20211231,4,USD,452405.0,NaN
2705507,0001493152-22-018138,ReceiptsFromRelatedParties,0001493152-22-018138,NaN,20211231,4,USD,50500.0,NaN
2705508,0001493152-22-018138,RightofuseAssetAcquiredThroughOperatingLease,0001493152-22-018138,NaN,20211231,4,USD,172974.0,NaN
2705509,0001493152-22-018138,StockIssuedDuringPeriodValueNewIssuesOne,0001493152-22-018138,NaN,20220331,1,USD,890430.0,NaN

In [101]:
num_f = num[ #(num['adsh'] == '0000320193-22-000059') &
          (num['ddate'] == 20220331) &
          (num['qtrs'] == 1)
        ].copy()
print('len(num_f)', f'{len(num_f):,.0f}')
print('unique adsh', len(num_f['adsh'].unique()))

num_f_piv = num_f.pivot_table(columns='tag',index='adsh',values='value')
display(num_f_piv)

# tags_set = set(num_f['tag'])
# tags_w_rev = [i for i in tags_set if 'revenue' in i.lower() or 'netsales' in i.lower()]
# print('len(tags_w_rev)',len(tags_w_rev))
# revs = num_f[num_f['tag'].isin(tags_w_rev)]
# revs_piv = revs.pivot_table(columns='tag',index='adsh',values='value')
# revs_piv['MAX_COL'] = revs_piv.idxmax(axis=1)
# print(revs_piv['MAX_COL'].value_counts(dropna=False))
# display(revs_piv)

# # display(num_f['tag'].value_counts(dropna=False))
# # tags_w_inc = [i for i in tags_set if 'income' in i.lower()]

# # print('len(tags_w_inc)',len(tags_w_inc))
# # # print(tags_w_rev)
# # display(num_f[num_f['tag'].isin(tags_w_rev)]['tag'].value_counts())
# # display(num_f[num_f['tag'].isin(tags_w_inc)]['tag'].value_counts())

# # # display(tags_set)
# # # num_f['value'] = num_f['value'] / 1e9
# # # num_f['tag'] = num_f['tag'].replace({'RevenueFromContractWithCustomerExcludingAssessedTax':'Revenue'})
# # # num_f = num_f[num_f['tag'].isin(['Revenue', 'GrossProfit','OperatingIncomeLoss','NetIncomeLoss'])]
# # # display(num_f.sort_values(by='value', ascending=False))
# # # num_f_piv = num_f.pivot_table(columns='tag',values='value',index='adsh')
# # # num_f_piv['NetProfitMargin'] = num_f_piv['NetIncomeLoss'] / num_f_piv['Revenue']
# # # display(num_f_piv)

len(num_f) 398,752
unique adsh 6081

tag,ACJVCashDistributions,AFSsecuritiesinlosspositionatperiodendchangeinunrealizedloss,AHPVoluntaryContributionExpense,AOCIBeforeTaxImpactOfDemerger,AOCINetOfTaxImpactOfDemerger,AOCIReclassificationOfCashFlowHedge,AOCITaxImpactOfDemerger,APICConversionOfStockDeferredTaxAssetLiability,APICDueFromRelatedPartiesIncreaseForCostRecognition,APICShareBasedCompensationIncomeTaxBenefit,...,underwritingDiscount,underwritingFee,utilizationoftheproductwarrantyduringtheperiod,warrantLiabilityExpense,weightedAverageFairValuesOfOptionsGranted,weightedAveragePricePerShare,workingCapital,workingCapitalDeficit,workingCapitalLoans,workingDeficit
adsh,,,,,,,,,,,,,,,,,,,,,
0000002178-22-000046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000002488-22-000078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000002969-22-000026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000003499-22-000009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000003570-22-000046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0001903596-22-000301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0001903596-22-000318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0001903596-22-000333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0001903596-22-000355,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0001915657-22-000011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
display(num_f['tag'].value_counts().head(50))

NetIncomeLoss                                                                                                     5764
NetCashProvidedByUsedInOperatingActivities                                                                        5506
NetCashProvidedByUsedInFinancingActivities                                                                        5118
OperatingIncomeLoss                                                                                               4918
NetCashProvidedByUsedInInvestingActivities                                                                        4739
IncomeTaxExpenseBenefit                                                                                           4293
EarningsPerShareBasic                                                                                             4242
CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect    4232
WeightedAverageNumberOfSharesOutstandingBasic                                                                     4226
WeightedAverageNumberOfDilutedSharesOutstanding                                                                   3744
IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest                       3670
EarningsPerShareDiluted                                                                                           3645
ShareBasedCompensation                                                                                            3635
ProfitLoss                                                                                                        3334
ComprehensiveIncomeNetOfTax                                                                                       3287
InterestExpense                                                                                                   3188
PaymentsToAcquirePropertyPlantAndEquipment                                                                        3075
GeneralAndAdministrativeExpense                                                                                   3025
InterestPaidNet                                                                                                   2822
OperatingExpenses                                                                                                 2772
OtherNonoperatingIncomeExpense                                                                                    2616
AdjustmentsToAdditionalPaidInCapitalSharebasedCompensationRequisiteServicePeriodRecognitionValue                  2575
RevenueFromContractWithCustomerExcludingAssessedTax                                                               2531
IncreaseDecreaseInAccountsReceivable                                                                              2403
NonoperatingIncomeExpense                                                                                         2389
AntidilutiveSecuritiesExcludedFromComputationOfEarningsPerShareAmount                                             2262
DepreciationDepletionAndAmortization                                                                              2260
Revenues                                                                                                          2137
IncreaseDecreaseInAccountsPayable                                                                                 2126
IncreaseDecreaseInPrepaidDeferredExpenseAndOtherAssets                                                            2106
AllocatedShareBasedCompensationExpense                                                                            2083
GrossProfit                                                                                                       2043
ResearchAndDevelopmentExpense                                                                                     1914
AmortizationOfIntangibleAssets                                                                                    1905
Depreciation                                                                                                      1866
IncreaseDecreaseInInventories                                                                                     1810
NetIncomeLossAvailableToCommonStockholdersBasic                                                                   1763
EffectiveIncomeTaxRateContinuingOperations                                                                        1700
SellingGeneralAndAdministrativeExpense                                                                            1685
IncreaseDecreaseInAccountsPayableAndAccruedLiabilities                                                            1642
OperatingLeasePayments                                                                                            1622
OtherComprehensiveIncomeLossNetOfTax                                                                              1593
OperatingLeaseCost                                                                                                1551
CostOfGoodsAndServicesSold                                                                                        1530
IncomeTaxesPaidNet                                                                                                1528
IncreaseDecreaseInAccruedLiabilities                                                                              1495
DepreciationAndAmortization                                                                                       1430
DeferredIncomeTaxExpenseBenefit                                                                                   1423
NetIncomeLossAttributableToNoncontrollingInterest                                                                 1291
RightOfUseAssetObtainedInExchangeForOperatingLeaseLiability                                                       1267
Name: tag, dtype: int64

In [137]:
inc_prelim = num_f[( num_f['tag'] == 'NetIncomeLoss') &
                    (num_f['coreg'].isna()) &
                    (num_f['uom'] == 'USD')]
# display(inc_prelim.sort_values(by='adsh').drop_duplicates(['adsh']))
df = inc_prelim
ids = df['adsh']
display(df[ids.isin(ids[ids.duplicated()])].sort_values("adsh").tail(20))
display(inc_prelim)
display(inc_prelim[inc_prelim['value'].isna()])

USD    5644
Name: uom, dtype: int64

Empty DataFrame
Columns: [adsh, tag, version, coreg, ddate, qtrs, uom, value, footnote]
Index: []

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
0,0000064996-22-000015,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,-1.969170e+08,NaN
2,0000030625-22-000054,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,-1.582000e+07,NaN
4,0000009984-22-000075,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,2.048400e+07,NaN
10,0000109563-22-000044,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,6.830600e+07,NaN
15,0000916365-22-000057,NetIncomeLoss,us-gaap/2020,NaN,20220331,1,USD,1.872270e+08,NaN
...,...,...,...,...,...,...,...,...,...
2062720,0001554795-22-000186,NetIncomeLoss,us-gaap/2022,NaN,20220331,1,USD,-1.044500e+04,NaN
2062722,0001558370-22-008584,NetIncomeLoss,us-gaap/2022,NaN,20220331,1,USD,-1.083800e+07,NaN
2062724,0001558370-22-008452,NetIncomeLoss,us-gaap/2022,NaN,20220331,1,USD,-3.104500e+07,NaN
2062725,0001558370-22-008057,NetIncomeLoss,us-gaap/2022,NaN,20220331,1,USD,-9.827140e+08,NaN
2062728,0001558370-22-008060,NetIncomeLoss,us-gaap/2022,NaN,20220331,1,USD,-1.070278e+09,NaN

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
2062275,0001829126-22-012883,NetIncomeLoss,us-gaap/2022,NaN,20220331,1,USD,NaN,NaN

In [108]:
tags_set = set(num_f['tag'])
tags_w_rev = [i for i in tags_set if 'revenue' in i.lower() or 'sales' in i.lower()]
print('len(tags_w_rev)',len(tags_w_rev))
revs = num_f[num_f['tag'].isin(tags_w_rev)]
revs_piv = revs.pivot_table(columns='tag',index='adsh',values='value')

final_revenue_flds = ['RevenueFromContractWithCustomerExcludingAssessedTax','Revenue','RevenueFromContractsWithCustomers',
                        'Revenues', 'NetRevenues1','GrossRevenue','TotalRevenuesFromReportableSegments',
                        'BusinessAcquisitionsProFormaRevenue','GrossOperatingAndOtherRevenue',
                        'RevenueFromContractWithCustomerIncludingAssessedTax',
                        'TotalRevenue','ConsolidatedRevenues','RevenueNet','GrossSales',
                        'NetSales',]
revs_piv['MAX_COL'] = revs_piv[final_revenue_flds].idxmax(axis=1)
revs_piv['Revenues_FINAL'] = revs_piv[final_revenue_flds].max(axis=1)
print(revs_piv['MAX_COL'].value_counts(dropna=False).tail(50))
display(revs_piv[['Revenues_FINAL']])

len(tags_w_rev) 2987
RevenueFromContractWithCustomerExcludingAssessedTax    2133
Revenues                                               1680
NaN                                                     551
RevenueFromContractWithCustomerIncludingAssessedTax     331
BusinessAcquisitionsProFormaRevenue                      57
Revenue                                                  24
RevenueFromContractsWithCustomers                         9
GrossSales                                                2
GrossOperatingAndOtherRevenue                             2
GrossRevenue                                              1
TotalRevenuesFromReportableSegments                       1
TotalRevenue                                              1
ConsolidatedRevenues                                      1
RevenueNet                                                1
Name: MAX_COL, dtype: int64

tag                   Revenues_FINAL
adsh
0000002178-22-000046    7.742450e+08
0000002488-22-000078    6.364000e+09
0000002969-22-000026    2.945100e+09
0000003499-22-000009    4.921500e+07
0000003570-22-000046    7.657000e+09
...                              ...
0001903596-22-000301    1.023315e+06
0001903596-22-000318    1.007000e+06
0001903596-22-000333    1.886640e+05
0001903596-22-000355    6.198450e+05
0001915657-22-000011    7.458750e+09

[4794 rows x 1 columns]

In [138]:
inc_prelim = num_f[( num_f['tag'] == 'NetIncomeLoss') &
                    (num_f['coreg'].isna()) &
                    (num_f['uom'] == 'USD')]
incomes = inc_prelim.pivot_table(columns='tag',index='adsh',values='value')
display(incomes)

tag                   NetIncomeLoss
adsh
0000002178-22-000046      6090000.0
0000002488-22-000078    786000000.0
0000002969-22-000026    530500000.0
0000003499-22-000009     14532000.0
0000003570-22-000046   -865000000.0
...                             ...
0001903596-22-000301      -174447.0
0001903596-22-000318      1921000.0
0001903596-22-000333     -1097900.0
0001903596-22-000355      -522175.0
0001915657-22-000011    159974000.0

[5643 rows x 1 columns]

In [139]:
rev_inc = revs_piv[['Revenues_FINAL']].join(incomes)
rev_inc['net_profit_margin'] = rev_inc['NetIncomeLoss'] / rev_inc['Revenues_FINAL']
display(rev_inc)

tag                   Revenues_FINAL  NetIncomeLoss  net_profit_margin
adsh
0000002178-22-000046    7.742450e+08      6090000.0           0.007866
0000002488-22-000078    6.364000e+09    786000000.0           0.123507
0000002969-22-000026    2.945100e+09    530500000.0           0.180130
0000003499-22-000009    4.921500e+07     14532000.0           0.295276
0000003570-22-000046    7.657000e+09   -865000000.0          -0.112969
...                              ...            ...                ...
0001903596-22-000301    1.023315e+06      -174447.0          -0.170472
0001903596-22-000318    1.007000e+06      1921000.0           1.907646
0001903596-22-000333    1.886640e+05     -1097900.0          -5.819340
0001903596-22-000355    6.198450e+05      -522175.0          -0.842428
0001915657-22-000011    7.458750e+09    159974000.0           0.021448

[4794 rows x 3 columns]

In [23]:
pre = pd.read_csv('data/2022q2/pre.txt', delimiter='	')
# with pd.option_context('display.max_rows',None):
#     display(pd.DataFrame(num['tag'].value_counts(dropna=False).head(10)))
display(pre[pre['adsh'] == '0000320193-22-000059'])
# display(pre)

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
7894,0000320193-22-000059,1,41,CP,0,H,AmendmentFlag,dei/2021,Amendment Flag,0
8450,0000320193-22-000059,1,28,CP,0,H,CityAreaCode,dei/2021,City Area Code,0
12089,0000320193-22-000059,1,3,CP,0,H,ClassOfStockDomain,us-gaap/2021,Class of Stock [Domain],0
20075,0000320193-22-000059,1,4,CP,0,H,CommonStockMember,us-gaap/2021,Common Stock,0
22622,0000320193-22-000059,1,18,CP,0,H,DocumentPeriodEndDate,dei/2021,Document Period End Date,0
...,...,...,...,...,...,...,...,...,...,...
1217887,0000320193-22-000059,1,12,CP,0,H,A3.050NotesDue2029Member,0000320193-22-000059,3.050% Notes due 2029,0
1217888,0000320193-22-000059,1,14,CP,0,H,A3.600NotesDue2042Member,0000320193-22-000059,3.600% Notes due 2042,0
1217889,0000320193-22-000059,3,7,CI,0,H,OtherComprehensiveIncomeLossDerivativeInstrume...,0000320193-22-000059,Total change in unrealized gains/losses on der...,0
1217890,0000320193-22-000059,3,5,CI,0,H,OtherComprehensiveIncomeLossDerivativeInstrume...,0000320193-22-000059,Change in fair value of derivative instruments,0
1217891,0000320193-22-000059,3,6,CI,0,H,OtherComprehensiveIncomeLossDerivativeInstrume...,0000320193-22-000059,Adjustment for net (gains)/losses realized and...,1

In [135]:
sub = pd.read_csv('data/2022q2/sub.txt', delimiter='	')
# with pd.option_context('display.max_rows',None):
#     display(pd.DataFrame(num['tag'].value_counts(dropna=False).head(10)))
sub_proc = sub[['adsh','name','instance']]
sub_proc['ticker'] = sub_proc['instance'].str.split('-').str[0].str.upper()
sub_proc = sub_proc.drop('instance',axis=1)
display(sub_proc)
with pd.option_context('display.max_columns',None):
    display(sub[sub['name'].str.contains('APPLE INC')])
    display(sub)

/tmp/ipykernel_392/1812712913.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_proc['ticker'] = sub_proc['instance'].str.split('-').str[0].str.upper()

,adsh,name,ticker
0,0000004127-22-000019,SKYWORKS SOLUTIONS INC,SWKS
1,0000004127-22-000020,SKYWORKS SOLUTIONS INC,SWKS
2,0000010048-22-000011,BARNWELL INDUSTRIES INC,BRN
3,0000020286-22-000034,CINCINNATI FINANCIAL CORP,CINF
4,0000049826-22-000031,ILLINOIS TOOL WORKS INC,ITW
...,...,...,...
27257,0001819395-22-000019,SONDER HOLDINGS INC.,SON
27258,0001819810-22-000021,REDWIRE CORP,RDW
27259,0001823878-22-000030,"PLAYSTUDIOS, INC.",MYPS
27260,0001830197-22-000040,HOME POINT CAPITAL INC.,HMPT
27261,0001851734-22-000185,"FITLIFE BRANDS, INC.",FTLF20220401_8K_HTM.XML

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,baph,countryma,stprma,cityma,zipma,mas1,mas2,countryinc,stprinc,ein,former,changed,afs,wksi,fye,form,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
20582,0000320193-22-000059,320193,APPLE INC,3571.0,US,CA,CUPERTINO,95014,ONE APPLE PARK WAY,NaN,(408) 996-1010,US,CA,CUPERTINO,95014,ONE APPLE PARK WAY,NaN,US,CA,942404110.0,APPLE INC,20070109.0,1-LAF,0,930.0,10-Q,20220331.0,2022.0,Q2,20220429,2022-04-28 18:04:00.0,0,1,aapl-20220326_htm.xml,1,NaN
21312,0000320193-22-000058,320193,APPLE INC,3571.0,US,CA,CUPERTINO,95014,ONE APPLE PARK WAY,NaN,(408) 996-1010,US,CA,CUPERTINO,95014,ONE APPLE PARK WAY,NaN,US,CA,942404110.0,APPLE INC,20070109.0,1-LAF,0,930.0,8-K,20220430.0,NaN,NaN,20220428,2022-04-28 16:32:00.0,0,0,aapl-20220428_htm.xml,1,NaN

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,baph,countryma,stprma,cityma,zipma,mas1,mas2,countryinc,stprinc,ein,former,changed,afs,wksi,fye,form,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000004127-22-000019,4127,SKYWORKS SOLUTIONS INC,3674.0,US,CA,IRVINE,92617,5260 CALIFORNIA AVENUE,NaN,9492313000,US,CA,IRVINE,92617,5260 CALIFORNIA AVENUE,NaN,US,DE,42302115.0,SKYWORKS SOLUTIONS INC,20020627.0,1-LAF,0,930.0,8-K/A,20220131.0,NaN,NaN,20220513,2022-05-13 16:39:00.0,1,0,swks-20220128_htm.xml,1,NaN
1,0000004127-22-000020,4127,SKYWORKS SOLUTIONS INC,3674.0,US,CA,IRVINE,92617,5260 CALIFORNIA AVENUE,NaN,9492313000,US,CA,IRVINE,92617,5260 CALIFORNIA AVENUE,NaN,US,DE,42302115.0,SKYWORKS SOLUTIONS INC,20020627.0,1-LAF,0,930.0,8-K,20220430.0,NaN,NaN,20220513,2022-05-13 16:43:00.0,1,0,swks-20220511_htm.xml,1,NaN
2,0000010048-22-000011,10048,BARNWELL INDUSTRIES INC,1311.0,US,HI,HONOLULU,96813,1100 ALAKEA ST.,SUITE 500,808-531-8400,US,HI,HONOLULU,96813,1100 ALAKEA ST.,SUITE 500,US,DE,720496921.0,BMA CORP/TN,19770324.0,4-NON,0,930.0,10-Q,20220331.0,2022.0,Q2,20220513,2022-05-13 16:18:00.0,0,1,brn-20220331_htm.xml,1,NaN
3,0000020286-22-000034,20286,CINCINNATI FINANCIAL CORP,6331.0,US,OH,FAIRFIELD,45014,6200 S GILMORE RD,NaN,5138702000,US,OH,CINCINNATI,45250,P.O. BOX 145496,NaN,US,OH,310746871.0,NaN,NaN,1-LAF,0,1231.0,8-K,20220430.0,NaN,NaN,20220513,2022-05-13 08:36:00.0,0,0,cinf-20220513_htm.xml,1,NaN
4,0000049826-22-000031,49826,ILLINOIS TOOL WORKS INC,3560.0,US,IL,GLENVIEW,60025,155 HARLEM AVENUE,NaN,8477247500,US,IL,GLENVIEW,60025,155 HARLEM AVENUE,NaN,US,DE,361258310.0,NaN,NaN,1-LAF,0,1231.0,8-K,20220430.0,NaN,NaN,20220513,2022-05-12 18:01:00.0,0,0,itw-20220506_htm.xml,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27257,0001819395-22-000019,1819395,SONDER HOLDINGS INC.,7000.0,US,CA,SAN FRANCISCO,94103,101 15TH ST.,NaN,617-300-0956,US,CA,SAN FRANCISCO,94103,101 15TH ST.,NaN,US,DE,852097088.0,"SONDER HOLDINGS, INC.",20220119.0,4-NON,0,1231.0,8-K,20220331.0,NaN,NaN,20220401,2022-04-01 17:21:00.0,0,0,son-20220330_htm.xml,1,NaN
27258,0001819810-22-000021,1819810,REDWIRE CORP,3760.0,US,FL,JACKSONVILLE,32256,"8226 PHILIPS HIGHWAY, SUITE 101",NaN,650 701-7722,US,FL,JACKSONVILLE,32256,"8226 PHILIPS HIGHWAY, SUITE 101",NaN,US,DE,0.0,GENESIS PARK ACQUISITION CORP.,20200731.0,4-NON,0,1231.0,10-Q,20210930.0,2021.0,Q3,20220401,2022-04-01 17:09:00.0,0,1,rdw-20210930_htm.xml,1,NaN
27259,0001823878-22-000030,1823878,"PLAYSTUDIOS, INC.",7372.0,US,NV,LAS VEGAS,89144,10150 COVINGTON CROSS DRIVE,NaN,725-877-7000,US,NV,LAS VEGAS,89144,10150 COVINGTON CROSS DRIVE,NaN,NaN,NaN,981606155.0,ACIES ACQUISITION CORP.,20200908.0,2-ACC,0,1231.0,8-K,20220331.0,NaN,NaN,20220401,2022-04-01 09:12:00.0,0,0,myps-20220401_htm.xml,1,NaN
27260,0001830197-22-000040,1830197,HOME POINT CAPITAL INC.,6162.0,US,MI,ANN ARBOR,48105,2211 OLD EARHART ROAD,SUITE 250,(888) 616-6866,US,MI,ANN ARBOR,48105,2211 OLD EARHART ROAD,SUITE 250,NaN,NaN,901116426.0,NaN,NaN,4-NON,0,1231.0,8-K,20220331.0,NaN,NaN,20220401,2022-04-01 16:28:00.0,0,0,hmpt-20220328_htm.xml,1,NaN
27261,0001851734-22-000185,1374328,"FITLIFE BRANDS, INC.",2833.0,US,NE,OMAHA,68137,5214 S. 136TH STREET,NaN,402-884-1894,US,NE,OMAHA,68137,5214 S. 136TH STREET,NaN,US,NV,0.0,"BOND LABORATORIES, INC.",20060831.0,4-NON,0,1231.0,8-K,20220331.0,NaN,NaN,20220401,2022-04-01 16:04:00.0,0,0,ftlf20220401_8k_htm.xml,1,NaN

In [146]:
rev_inc_names = rev_inc.join(sub_proc.set_index('adsh'))
for col in ['Revenues_FINAL', 'NetIncomeLoss']:
    rev_inc_names[col] = rev_inc_names[col] / 1e9

rev_inc_names['ddate'] = num_f['ddate'].iloc[0]
# display(rev_inc_names)
test_tickers = ['AAPL','MSFT','GOOG','META']
display(rev_inc_names[rev_inc_names['ticker'].isin(test_tickers)])

,Revenues_FINAL,NetIncomeLoss,net_profit_margin,name,ticker,ddate
adsh,,,,,,
0000320193-22-000059,97.278,25.010,0.257098,APPLE INC,AAPL,20220331
0001326801-22-000057,27.908,7.465,0.267486,"META PLATFORMS, INC.",META,20220331
0001564590-22-015675,49.360,16.728,0.338898,MICROSOFT CORP,MSFT,20220331
0001652044-22-000029,68.011,16.436,0.241667,ALPHABET INC.,GOOG,20220331

In [17]:
tag = pd.read_csv('data/2022q2/tag.txt', delimiter='	')
# with pd.option_context('display.max_rows',None):
#     display(pd.DataFrame(num['tag'].value_counts(dropna=False).head(10)))
display(tag)

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,NetIncomeLoss,us-gaap/2020,0,0,monetary,D,C,Net Income (Loss) Attributable to Parent,"The portion of profit or loss for the period, ..."
1,NetInvestmentInLeaseCurrent,us-gaap/2020,0,0,monetary,I,D,"Net Investment in Lease, Current",Amount of net investment in sales-type and dir...
2,PropertyPlantAndEquipmentNet,us-gaap/2020,0,0,monetary,I,D,"Property, Plant and Equipment, Net","Amount after accumulated depreciation, depleti..."
3,EarningsPerShareBasicAndDilutedOtherDisclosure...,us-gaap/2020,0,1,NaN,NaN,NaN,"Earnings Per Share, Basic and Diluted, Other D...",NaN
4,PaymentsToDevelopSoftware,us-gaap/2020,0,0,monetary,D,C,Payments to Develop Software,The cash outflow associated with the developme...
...,...,...,...,...,...,...,...,...,...
132896,ReceiptsFromRelatedParties,0001493152-22-018138,1,0,monetary,D,D,Receipts from related parties,Receipts from related parties.
132897,RightofuseAssetAcquiredThroughOperatingLease,0001493152-22-018138,1,0,monetary,D,C,Right-of-use asset acquired through operating ...,Right of use asset acquired through operating ...
132898,StockIssuedDuringPeriodSharesNewIssuesOne,0001493152-22-018138,1,0,shares,D,NaN,"Issuance of Common Shares, net of issuance cos...",Number of new stock issued during the period.
132899,StockIssuedDuringPeriodValueNewIssuesOne,0001493152-22-018138,1,0,monetary,D,C,"Issuance of 178,100 Common Shares, net of issu...",Equity impact of the value of new stock issued...
132900,UnitIssuanceCosts,0001493152-22-018138,1,0,monetary,D,C,[custom:UnitIssuanceCosts],Unit issuance costs.